body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
main{
    background-color: rgb(241, 241, 241);
}
/* CSS style for header */
.header{
    background-color: #2D25A0;
    width: 100%;
    height: 677px;
    display: flex;
}
.heading-title{
    color: #ffffff;
    font-size: 28px;
    margin-top: 150px;
    margin-left: 150px;
}
.watch-live-button a{
    text-decoration: none;
    background-color: #E02C6D;
    color: #ffffff;
    padding: 10px 25px;
    margin-left: 150px;
    font-weight: 300;
}
.fa-arrow-right{
    margin-left: 10px;
}
.image-transition img{
    width: 70%;
    margin-top: 130px;
    margin-left: 150px;
}
.image-transition:hover .image-transform{
    transform: rotate(60deg);
    transition: 2s;
}
/* CSS style for palyer section */
.container{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.players{
    display:grid;
    grid-template-columns: repeat(3, 330px);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}
.player{
    background-color: #ffffff;
    width: 300px;
    height: 474px;
    box-shadow: 1px 1px 10px rgb(211, 211, 211);
    padding: 15px;
}
.thunbnail img{
    width: 300px;
    height: 256px;
}
.player-info h1{
    font-size: 28px;
    font-weight: 700;
}
.player-info p{
    font-size: 16px;
    font-weight: 300;
}
.next-page{
    margin-top: 50px;
}
.page-number{
    font-size: 24px;
    color: grey;
    margin-left: 15px;
    font-weight: 300;
}
.next-page a{
    text-decoration: none;
}
.email-subscription{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 15px;
    box-shadow: 1px 1px 15px rgb(211, 211, 211);
    padding: 0 20px 25px 20px;
    margin-top: 50px;
}
.email input{
    width: 300px;
    height: 25px;
    margin-bottom: 25px;
    text-align: center;
}
.subscribe-button button{
    background-color: #E02C6D;
    color: white;
    padding: 10px 25px;
    font-weight: 300;
    border: 1px solid #E02C6D;
    border-radius: 15px;
}
/* CSS style for footer */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.logo img{
    width: 400px;
}
.icon .fab{
    font-size: 28px;
    color: rgb(192, 192, 192);
}
.footer p{
    font-weight: 500;
}
/* ---------------
    Media Queries
   --------------- */

/* Mobile device */
@media (max-width:688px) {
    .header{
        flex-direction: column;
        height: 800px;
    }
    .heading-title{
        margin-top: -10px;
        margin-left: 30px;
    }
    .watch-live-button{
        margin-left: -115px;
    }
    .image-transition{
        margin-top: -20px;
        margin-left: -85px;
        width: 90%;
    }
    .players{
        grid-template-columns: repeat(1, 330px);
        grid-row-gap: 30px;
    }
    .email-subscription{
        width: 80%;
    }
    .footer .logo img{
        width: 200px; 
        margin-top: -50px;       
    }
}
/* Tablet device */
@media (min-width:688px) and (max-width:992px) {
    .header{
        width: 100%;
        flex-direction: column;
        height: 800px;
        align-items: center;
    }

    .heading-title{
        margin-top: -10px;
        margin-left: 30px;
    }
    .watch-live-button{
        margin-left: -115px;
    }
    .image-transition{
        margin-top: -20px;
        margin-left: -85px;
        width: 80%;
    }
    .players{
        grid-template-columns: repeat(2, 330px);
        grid-row-gap: 30px;
    }
    .email-subscription{
        width: 80%;
    }
    .footer .logo img{
        width: 200px; 
        margin-top: -50px;       
    }
}
